@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #060a15;
  --foreground: #e2e8f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

#about {
  scroll-margin-top: 100px; /* Adjust the value as needed */
}

#experience {
  scroll-margin-top: 100px; /* Adjust the value as needed */
}

#projects {
  scroll-margin-top: 100px; /* Adjust the value as needed */
}

#skills {
  scroll-margin-top: 100px; /* Adjust the value as needed */
}

body {
  background: radial-gradient(circle at left, #142747, #060a15);
  transition: background 0.1s ease;
}
